# Gradle files
.gradle/
build/
*.iml

# Android Studio
.idea/
*.iws
*.iml
*.ipr
.DS_Store

# Firebase
google-services.json

# Gradle
gradle.properties
local.properties

# Build directories
.gradle
build
*.apk
*.aar
*.ap_
*.aab

# Kotlin
kotlin-build/
out/

# VS Code
.vscode/
*.code-workspace